html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-bold {
  font-weight: 600;
}

.text-normal {
  font-weight: 400;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
